@using ETicket.Models

@model List<ETicket.Models.Movies>

@{
    Layout = "~/Views/Shared/_LayoutMovie.cshtml";

    List<Movies> Carousel1 = new List<Movies>();

    if (Model.Count >= 6)
    { Carousel1 = Model.Take(6).ToList(); }
    else
    { Carousel1 = Model.ToList(); }
}

<!--=== home ===-->
<section class="home index-1 bg-overlay d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro text-center">
                    <div class="primary-tag">好好用影城</div>
                    <div class="primary-title">最新上映</div>
                    <div class="primary-para">
                        戲院影廳內<br />
                        嚴禁拍照、錄音、錄影（含電影正片、片尾）<br />
                        任何未經授權之攝錄行為<br />
                        已觸犯著作權法第91條<br />
                        最高可處5年有期徒刑<br />
                        <br />
                        近期本公司遭不肖人士以諸多手法進行詐騙，若您接到可疑電話，請立即掛斷並。<br />
                        有任何疑慮，歡迎致電各影城專線查詢。<br />
                    </div>
                    <a class="waves-effect waves-light btn-large btn-main" href="@Url.Action("Movie", "Movie")"><i class="material-icons left">play_circle_filled</i>馬上購票</a>
                    @*<div class="Secondary-tag">Offer available to new and eligible subscribers only.</div>*@
                </div>
            </div>
        </div>
    </div>
</section>



<!--=== movies 1 ===-->
<section class="movies movie-1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wrap-movie">
                    <div class="section-title-wrap">
                        <div class="section-title">熱門電影</div>
                    </div>
                    @if (Carousel1.Count > 0)
                    {@Html.Partial("~/Views/PartialViews/_PartialCarousel.cshtml", Carousel1)}
                </div>
            </div>
        </div>
    </div>
</section>

<!--=== movies 2 ===-->
<!--<section class="movies movie-2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wrap-movie">
                    <div class="section-title-wrap">
                        <div class="section-title">One Piece</div>
                    </div>
                    <div class="movie-showcase-2 owl-carousel">
                        <div class="item">
                            <div class="movie-item">
                                <img class="movie-item-img" src="~/Plugins/Movie/images/poster/1.jpg" alt="Movie Thumb">
                                <div class="movie-item-overlay">
                                    <div class="movie-item-title">黃金島大冒險</div>
                                    <div class="movie-item-genre"><span>2016 |</span>Action, Crime, Drama</div>
                                    <div class="movie-item-rate"><i class="ion ion-android-star"></i>9.5</div>
                                    <div class="movie-item-price">$39.00</div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="movie-item">
                                <img class="movie-item-img" src="~/Plugins/Movie/images/poster/2.jpg" alt="Movie Thumb">
                                <div class="movie-item-overlay">
                                    <div class="movie-item-title">發條島的冒險</div>
                                    <div class="movie-item-genre"><span>2016 |</span>Action, Crime, Drama</div>
                                    <div class="movie-item-rate"><i class="ion ion-android-star"></i>9.5</div>
                                    <div class="movie-item-price">$39.00</div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="movie-item">
                                <img class="movie-item-img" src="~/Plugins/Movie/images/poster/3.jpg" alt="Movie Thumb">
                                <div class="movie-item-overlay">
                                    <div class="movie-item-title">珍獸島之喬巴王國</div>
                                    <div class="movie-item-genre"><span>2016 |</span>Action, Crime, Drama</div>
                                    <div class="movie-item-rate"><i class="ion ion-android-star"></i>9.5</div>
                                    <div class="movie-item-price">$39.00</div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="movie-item">
                                <img class="movie-item-img" src="~/Plugins/Movie/images/poster/4.jpg" alt="Movie Thumb">
                                <div class="movie-item-overlay">
                                    <div class="movie-item-title">死亡盡頭的冒險</div>
                                    <div class="movie-item-genre"><span>2016 |</span>Action, Crime, Drama</div>
                                    <div class="movie-item-rate"><i class="ion ion-android-star"></i>9.5</div>
                                    <div class="movie-item-price">$39.00</div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="movie-item">
                                <img class="movie-item-img" src="~/Plugins/Movie/images/poster/5.jpg" alt="Movie Thumb">
                                <div class="movie-item-overlay">
                                    <div class="movie-item-title">被詛咒的聖劍</div>
                                    <div class="movie-item-genre"><span>2016 |</span>Action, Crime, Drama</div>
                                    <div class="movie-item-rate"><i class="ion ion-android-star"></i>9.5</div>
                                    <div class="movie-item-price">$39.00</div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="movie-item">
                                <img class="movie-item-img" src="~/Plugins/Movie/images/poster/6.jpg" alt="Movie Thumb">
                                <div class="movie-item-overlay">
                                    <div class="movie-item-title">祭典男爵與神祕島</div>
                                    <div class="movie-item-genre"><span>2016 |</span>Action, Crime, Drama</div>
                                    <div class="movie-item-rate"><i class="ion ion-android-star"></i>9.5</div>
                                    <div class="movie-item-price">$39.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!--=== movies 3 ===-->
@*<section class="movies movie-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="wrap-movie">
                        <div class="section-title-wrap">
                            <div class="section-title">TV Show / Movies</div>
                        </div>
                        <div class="movie-showcase-3 owl-carousel">
                            <div class="item">
                                <div class="movie-item">
                                    <div class="movie-item-img-wrap">
                                        <img class="movie-item-img" src="~/Plugins/Movie/images/poster/The-Witcher-3-Wild-Hunt.jpg" alt="Movie Thumb">
                                        <div class="movie-item-rate">9.5</div>
                                    </div>
                                    <div class="movie-item-overlay">
                                        <div class="movie-item-genre"><span>2017 |</span>Action, Crime</div>
                                        <div class="movie-item-price">$49.00</div>
                                        <div class="movie-item-title">The Witcher 3</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="movie-item">
                                    <div class="movie-item-img-wrap">
                                        <img class="movie-item-img" src="~/Plugins/Movie/images/poster/uncharted-4.jpg" alt="Movie Thumb">
                                        <div class="movie-item-rate">9.5</div>
                                    </div>
                                    <div class="movie-item-overlay">
                                        <div class="movie-item-genre"><span>2017 |</span>Action, Crime</div>
                                        <div class="movie-item-price">$49.00</div>
                                        <div class="movie-item-title">Uncharted 4</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="movie-item">
                                    <div class="movie-item-img-wrap">
                                        <img class="movie-item-img" src="~/Plugins/Movie/images/poster/batman-arkham-knight.jpg" alt="Movie Thumb">
                                        <div class="movie-item-rate">9.5</div>
                                    </div>
                                    <div class="movie-item-overlay">
                                        <div class="movie-item-genre"><span>2017 |</span>Action, Crime</div>
                                        <div class="movie-item-price">$49.00</div>
                                        <div class="movie-item-title">Batman arkham knight</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="movie-item">
                                    <div class="movie-item-img-wrap">
                                        <img class="movie-item-img" src="~/Plugins/Movie/images/poster/tomb-rider.jpg" alt="Movie Thumb">
                                        <div class="movie-item-rate">9.5</div>
                                    </div>
                                    <div class="movie-item-overlay">
                                        <div class="movie-item-genre"><span>2017 |</span>Action, Crime</div>
                                        <div class="movie-item-price">$49.00</div>
                                        <div class="movie-item-title">Tomb-rider</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="movie-item">
                                    <div class="movie-item-img-wrap">
                                        <img class="movie-item-img" src="~/Plugins/Movie/images/poster/dark.png" alt="Movie Thumb">
                                        <div class="movie-item-rate">9.5</div>
                                    </div>
                                    <div class="movie-item-overlay">
                                        <div class="movie-item-genre"><span>2017 |</span>Action, Crime</div>
                                        <div class="movie-item-price">$49.00</div>
                                        <div class="movie-item-title">Dark Night</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="movie-item">
                                    <div class="movie-item-img-wrap">
                                        <img class="movie-item-img" src="~/Plugins/Movie/images/poster/Assassin-s-Creed-Syndicate.jpg" alt="Movie Thumb">
                                        <div class="movie-item-rate">9.5</div>
                                    </div>
                                    <div class="movie-item-overlay">
                                        <div class="movie-item-genre"><span>2017 |</span>Action, Crime</div>
                                        <div class="movie-item-price">$49.00</div>
                                        <div class="movie-item-title">Assassin's Creed</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@



<!--=== Modal For All Videos ===-->
<div class="modal popup-video fade" id="call-video" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="close" data-dismiss="modal" aria-label="Close"><i class="ion ion-ios-close-outline"></i></div>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>