<div>
    <div class="float-start">
        <img src="@Url.Content("~/Images/App/AppLogo.png")" class="logo-image" />
    </div>
    <div class="float-start ms-2 pt-1">
        @AppService.CompanyName<br />
        <p style="font-size:15px;">
            @AppService.EnglishName
        </p>
    </div>
</div>