@{
    using (z_repoClients client = new z_repoClients())
    {
        string str_url = "";
        var model = client.repo.ReadAll().OrderBy(m => m.SortNo).ToList();

        <!-- ======= Our Clients Section ======= -->
        <section id="clients" class="clients">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>公司客戶</h2>
                </div>
                <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">
                    @foreach (var item in model)
                    {
                        str_url = string.Format("~/Images/Client/{0}", item.ImageUrl);

                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="client-logo">
                                <a href="@item.WebsiteUrl" target="_blank">
                                    <img src="@Url.Content(str_url)" class="img-fluid" alt="@item.ClientName">
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section><!-- End Our Clients Section -->
    }
}