<hr />
<table id="tblProperty">
    <thead>
        <tr>
            <td class="form-label fw-bold">欄位名稱</td>
            <td class="form-label fw-bold">欄位型別</td>
            <td class="form-label fw-bold">允許Null</td>
        </tr>
    </thead>
    <tbody id="columns"></tbody>
</table>