<div>
    <div class="float-start">
        <img src="@Url.Content("~/Images/App/AppLogo.png")" class="logo-image" />
    </div>
    <div class="float-start ms-2 pt-1">
        <span style="font-size:20px;font-weight:bold">
            @AppService.CompanyShortName
        </span>
        <br />
        <span style="font-size: 15px; font-weight: bold">
            @AppService.EnglishShortName
        </span>
    </div>
</div>

